@import "../colors.css";

#root::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(2, 0, 36, 0) 0%, #fafafa 100%);
  z-index: 0;
  top: 0;
  left: 0;
}

#root{
    position:relative;
}

/* main:after {
  content: "";
  background-image: url("/client/public/assets/grid.svg");
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.4;
  filter: invert(1);
} */

main.earn-coins-page {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
main .container {
    background-color: var(--color-brand-primary);
    border-radius: 20px;
    padding: 50px;

    box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.2);

    position: relative;

    min-width: 450px;
}
.announcement-banner {
    width: 100%;
    box-sizing: border-box;
}
.announcement-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.manage-announcement-block {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.earn-lose-coins-blocks-container {
    display: flex;
    justify-content: center;
    gap: 50px;
}
.earn-lose-coins-block {
    width: 450px;

    display: flex;
    justify-content: space-between;
    
    padding: 5px 0px;

    color: var(--color-brand-white);
}
.earn-coins-page .material-symbols-outlined {
    color: var(--color-brand-white);
    position: absolute;
    top: 20px;
    right: 50px;
    cursor: pointer;
}
form.edit-earn-coins textarea {
    margin: 10px 0px;
    padding: 10px;
}
.edit-submit-btn, .coins-calculator-block button, .manage-announcement-block button {
    border-color: var(--color-brand-white);
    color: var(--color-brand-white);
    
    &::after {
        background-color: var(--color-brand-primary);
    }
    &::before {
        background-color: var(--color-brand-white);
    }
    &:hover {
        color: var(--color-brand-primary);
    }
}
.earn-coins-page .lose-coins-labels-area, .earn-coins-page .earn-coins-labels-area {
    display: grid;
    /* column-gap: 15px; */
}
.earn-coins-page .earn-coins-labels-area {
    grid-template-columns: 10fr 8fr 3fr 3fr 1fr;
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
}
.earn-coins-page .lose-coins-labels-area {
    grid-template-columns: 5fr 5fr 2fr 1fr;
    margin-bottom: 10px;
    text-align: left;
}
.earn-coins-page .labels-area h4 {
    margin: 0;
    text-align: left;
    font-weight: bold;
    color: var(--color-brand-white);
}
.earn-coins-page .earn-coins-labels-area h4:last-child, .earn-coins-page .lose-coins-labels-area h4:last-child {
    display: none;
}
.edit-area {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.add-new-btn {
    font-weight: 900;
    font-size: 36px;
    cursor: pointer;
    color: var(--color-brand-white);
}
.submit-error-msg {
    font-size: 16px;
    font-weight: 600;
    color: red;

    margin-bottom: 10px;
}
.belt-multiplier-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.belt-multiplier-block {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;

    max-width: 1000px;
}
.belt-multiplier-block .ninja {


    position: relative;
    z-index: 9;

    /* border-radius: 500px;
    border-style: solid;
    border-width: 15px;
    border-radius: 500px; */

    position: relative;
    display: inline-block;

    &:hover{
        cursor:pointer;
    }
}
.belt-multiplier-block .ninja img {
    width: 130px;
    height: auto;
}
.belt-multiplier-block .ninja::after {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

    border-width: 15px;
    border-radius: 500px;

    opacity:0;
    transition: opacity 0.15s;

    transform-origin: center;

    font-size: 32px;
    font-weight: 900;
}
.belt-multiplier-block .ninja:hover::after {
    opacity:1;
}
.belt-multiplier-block .ninja img {
    display: block;
}
.ninja.white::after {
    border-color: var(--color-belt-white);
    background-color: var(--color-belt-white);
    content: "×1";
}
.ninja.yellow::after {
    border-color: var(--color-belt-yellow);
    background-color: var(--color-belt-yellow);
    content: "×2";
}
.ninja.orange::after {
    border-color: var(--color-belt-orange);
    background-color: var(--color-belt-orange);
    content: "×2";
}
.ninja.green::after {
    border-color: var(--color-belt-green);
    background-color: var(--color-belt-green);
    content: "×3";
}
.ninja.blue::after {
    border-color: var(--color-belt-blue);
    background-color: var(--color-belt-blue);
    content: "×3";
}
.ninja.purple::after {
    border-color: var(--color-belt-purple);
    background-color: var(--color-belt-purple);
    content: "×4";
}
.ninja.brown::after {
    border-color: var(--color-belt-brown);
    background-color: var(--color-belt-brown);
    color: var(--color-brand-white);
    content: "×4";
}
.ninja.red::after {
    border-color: var(--color-belt-red);
    background-color: var(--color-belt-red);
    content: "×5";
}
.ninja.black::after {
    border-color: var(--color-belt-black);
    background-color: var(--color-belt-black);
    color: var(--color-brand-white);
    content: "×5";
}

.belt-multiplier-container p, .available-coins-container p, .coins-calculator-container p {
    color: var(--color-brand-primary);
}

.coins-calculator-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.coins-calculator-block {
    width: 350px;
}
.coins-calculator-block form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.coins-calculator-block form label {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    color: var(--color-brand-white);
    font-weight: bold;
}
.coins-calculator-block p {
    font-weight: 600;
    font-size: 32px;
    color: var(--color-brand-white);
}
.coins-calculator-block button {
    margin: 25px;
}

.available-coins-block {
    display: flex;
    justify-content: center;
    gap: 75px;
}
