@import "../colors.css";

.game-of-the-month-page {
    display: grid;
    grid-template-areas: "a b" "c b";
}
.game-of-the-month-block {
    width: 30vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;

    color: var(--color-brand-white);
}
#link {
    position: relative;
}
#tooltip {
    display: none;
    
    left: 50%;

    transform: translateX(-50%);

    background-color: rgba(0, 0, 0, 0.8);

    padding: 5px;

    z-index: 99;
}
#link:hover #tooltip {
    display: block;
    position: absolute;
}
.game-of-the-month-container {
    grid-area: a;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leaderboard-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30vw;
}

.leaderboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: c;
}
.leaderboard-block {
    background-color: var(--color-brand-primary);
    color: var(--color-brand-white);
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.leaderboard-block button, .game-of-the-month-block button, .past-games-block button {
    border-color: var(--color-brand-white);
    color: var(--color-brand-white);
    
    &::after {
        background-color: var(--color-brand-primary);
    }
    &::before {
        background-color: var(--color-brand-white);
    }
    &:hover {
        color: var(--color-brand-primary);
    }
}
.game-of-the-month-block form, .leaderboard-block form.leaderboard-add-new-score {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 30vw;
}
.game-of-the-month-block form label, .leaderboard-block form label {
    display: flex;
    justify-content: space-between;
}
.game-of-the-month-block button {
    margin-top: 20px;
}
.leaderboard-editor {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 1fr;
    width: 100%;
}
.leaderboard-editor input {
    width: 100px;
    display: inline-block;
}

.past-games-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    grid-area: b;
}
.past-games-block {
    width: 300px;
}
.past-game-item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 15px 0;

    color: var(--color-brand-white);
}