@import "../colors.css";

.legends-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;

    list-style: none;
}
.legends-item li {
    padding-left: 0;
}

.queue-items-section {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    row-gap: 30px;
}

.prints-queue-page .filter-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    margin: 50px;
    margin-top: 0;
}
.prints-queue-page .filter-area .filters-container {
    width: 600px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.prints-queue-page .filter-area .filters-container p {
    border: 2px solid var(--color-brand-primary);
    color: var(--color-brand-primary);

    padding: 5px 10px;
}
.prints-queue-page .filter-area form {
    width: 600px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.prints-queue-page .filter-area form input {
    width: 550px;
    height: 30px;

    border: 2px solid black;

    padding: 5px;
}
.selected {
    color: white !important;
    background-color: var(--color-brand-primary);
}