@import "../colors.css";

.steps-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.request-submitted {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}
.id-section {
    color: var(--color-brand-primary);
    font-size: 32px;
}
.request-submmited button {
    width: 120px;
    text-align: center;
}