@import "../colors.css";

.earn-lose-coins-editor {
    display: grid;
    grid-template-columns: 3fr 2fr 2fr 1fr;
    column-gap: 10px;
}
.earn-lose-coins-editor .delete-btn {
    cursor: pointer;
    font-weight: 900;
    color: var(--color-brand-white);
}
