@import "../colors.css";

.prize {
    display: grid;
    grid-template-columns: 6fr 2fr 1fr 1fr 1fr 1fr;

    background-color: var(--color-brand-primary-light);

    padding: 30px 20px;
}
.prize p:first-child {
    text-align: left;
}
.prize span {
    position: relative;
    cursor: default;
}
.prize span.clickable {
    cursor: pointer;
}