@import "../colors.css";

.queue-item {
    cursor: default;
}
.detail-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: relative;
    box-sizing: border-box;

    /* padding-left: 35%; */

    width: 500px;
    height: 150px;

    border: 3px solid var(--color-brand-primary);
    border-radius: 15px;

    text-align: left;

}
.detail-section p {
    padding-left: 20px;
}
.status-section {
    position: absolute;
    left: 0;

    height: 100%;
    width: 25%;

    background-color: var(--color-brand-primary);

    border-radius: 10px;

    font-size: 96px;
    font-weight: 700;
    text-align: center;
    color: var(--color-brand-white);

    transition: width 1s;
}
.status-expanded {
    opacity: 0;

    transition: all 0.5s;
}
.status-label {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;

    transition: all 1.5s;
}
span.status-label {
    font-size: 96px;
    font-weight: 900;
}
.detail-section:hover .status-section {
    width: 100%;
}
.detail-section:hover .status-label {
    opacity: 0;
}
.detail-section:hover .status-expanded {
    opacity: 1;
}